
body {
    margin: 0;
    padding: 0;
}

.navbar {
    padding-top: 10px;
    background-color: #14274E;
    font-family: 'Nunito', sans-serif;
}

.navTitle {
    font-weight: 600;
    font-size: 30px;
}

.go {
    color: #FBFF32;
}

.navLink {
    text-decoration: none;
    text-transform: none;
    float: right;
    color: white;
    padding: 10px 20px 10px 20px ;
    font-size: 18px;
}

.navItem {
    display: inline;
    color: white;
}