.title{
    margin-bottom: 10px;
    font-size: 30px;
}
.main-footer{
    background-color:#14274E ;
    padding: 50px 50px 50px 0px;
    display: flex;
    justify-content: space-between;
}
.list-address{
    text-align: left;
    list-style-type: none;
}
.text{
    color: white;
}
.col-contact{
    text-align: right;
}
.list-contact{
    list-style-type: none;
}
.logo{
    float: left;
    margin-left: 20px;
}